@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<LivroEditoraAutorListViewModel>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if (ViewBag.keyword != "")
{
    <div class="alert alert-secondary" role="alert">
        Filtrando por "@ViewBag.keyword"
    </div>
}
<form asp-action="Index">
    <div class="input-group">
        <input name="keyword" type="text" class="form-control"
               value="@ViewBag.keyword" placeholder="Filtar por..."/>
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">Filtrar...</button>
        </div>
    </div>
</form>


<p>Cadastrar <a asp-controller="Livro" asp-action="Create">novo livro</a>?</p>

<table class="table-striped table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(m => m[0].Titulo)</th>
        <th>@Html.DisplayNameFor(m => m[0].Ano)</th>
        <th>@Html.DisplayNameFor(m => m[0].Paginas)</th>
        <th>@Html.DisplayNameFor(m => m[0].ISBN)</th>
        <th>@Html.DisplayNameFor(m => m[0].Editora)</th>
        <th>@Html.DisplayNameFor(m => m[0].Autores)</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var livro in Model)
    {
        <tr>
            <td>@livro.Titulo</td>
            <td>@livro.Ano</td>
            <td>@livro.Paginas</td>
            <td>@livro.ISBN</td>
            <td>@livro.Editora</td>
            <td>@livro.Autores</td>
            <td><a asp-controller="Livro" asp-action="Edit" asp-route-id="@livro.Id">Editar</a> | 
                <a asp-controller="Livro" asp-action="Delete" asp-route-id="@livro.Id">Remover</a></td>
        </tr>
    }
    </tbody>
</table>
<p class="small">Mostrando registros de @ViewBag.primeiro até 
    @ViewBag.ultimo de um total de @ViewBag.total</p>

@Html.PagedListPager((IPagedList)Model,
    pagina => Url.Action("Index", new { pagina = pagina, keyword = @ViewBag.keyword }),
    new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" } 
    })
